<p id="notice"><%= notice %></p>

<h1>Secure Passwords</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Name</th>
      <th>Notes</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secure_passwords.each do |secure_password| %>
      <tr>
        <td><%= secure_password.url %></td>
        <td><%= secure_password.name %></td>
        <td><%= secure_password.notes %></td>
        <td><%= secure_password.password %></td>
        <td><%= link_to 'Show', secure_password %></td>
        <td><%= link_to 'Edit', edit_secure_password_path(secure_password) %></td>
        <td><%= link_to 'Destroy', secure_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secure Password', new_secure_password_path %>
